$primary: 			#e838b9 !default;
$secondary: 		#97ffcb !default;
$success:			#75ecb1 !default;
$info:				#54d2e9 !default;
$warning:			#ffe434 !default;
$danger:			#ff005e !default;
$light:				#b4c3c0 !default;
$dark:				#210e26 !default;
$link-color:		#00c8a3 !default;
$link-hover-color:	$primary !default;
$separator-color:   #800da6 !default;
$yellow:            #ff9d00 !default;
$purple:            #9d00ff !default;

$input-bg:						#eee !default;
$input-disabled-bg:				#ccc !default;
$table-striped-color:			$light !default;
$table-border-width:			0px !default;
$dropdown-bg:					lighten($secondary, 10%) !default;
$dropdown-link-hover-bg:		$secondary !default;

$accordion-bg: darken($primary, 40%) !default;
$accordion-button-active-bg: darken($primary, 30%) !default;
$accordion-color: $link-color !default;
$accordion-button-active-color: $link-color !default;

$link-decoration: none !default;

@font-face {
    font-family: 'salomeitalic';
    src: url('assets/salome_italic-webfont.woff2') format('woff2'),
         url('assets/salome_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&family=Overpass:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

// Bootstrap icon fonts
@font-face {
    font-family: "bootstrap-icons";
    src: url("assets/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d") format("woff2"),
    url("assets/bootstrap-icons.woff?856008caa5eb66df68595e734e59580d") format("woff");
}

$font-heading: 'salomeitalic', sans-serif !default;
$font-family-sans-serif: 'Overpass', sans-serif !default;
$font-family-monospace: 'Overpass mono', monospace !default;