// Variables

$primary: 	#ff4d9d;
$secondary: #97ffcb;

$success:	#75ecb1;
$info:		#54d2e9;
$warning:	#ffe434;
$danger:	#f971a3;
$light:		#f8f1e5;
$dark:		#2a2335;

@font-face {
    font-family: 'salomeitalic';
    src: url('../assets/salome_italic-webfont.woff2') format('woff2'),
         url('../assets/salome_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&family=Overpass:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

$font-heading: 'salomeitalic', sans-serif;
$font-family-sans-serif: 'Overpass', sans-serif;
$font-family-monospace: 'Overpass mono', monospace; 