
@import 'variables';
// Configuration
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';

// Layout & components
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
// @import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
// @import '../node_modules/bootstrap/scss/card';
// @import '../node_modules/bootstrap/scss/accordion';
// @import '../node_modules/bootstrap/scss/breadcrumb';
// @import '../node_modules/bootstrap/scss/pagination';
// @import '../node_modules/bootstrap/scss/badge';
// @import '../node_modules/bootstrap/scss/alert';
// @import '../node_modules/bootstrap/scss/progress';
// @import '../node_modules/bootstrap/scss/list-group';
// @import '../node_modules/bootstrap/scss/close';
// @import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
// @import '../node_modules/bootstrap/scss/tooltip';
// @import '../node_modules/bootstrap/scss/popover';
// @import '../node_modules/bootstrap/scss/carousel';
// @import '../node_modules/bootstrap/scss/spinners';

// Helpers
@import '../node_modules/bootstrap/scss/helpers';

// Utilities
@import '../node_modules/bootstrap/scss/utilities/api';

// Custom styles

.fadeHeight-enter-active,
.fadeHeight-leave-active {
	transition: all 0.5s;
	max-height: 230px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
	opacity: 0;
	max-height: 0px;
}

body {
	background-image: url('../assets/bg4.jpg');
	background-size: cover;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

.db {
	display: block;
}

.modal.show {
	background-color: rgba(15,0,15,0.9);
}

.text-white {
	color: #fff;
}

.btn-gradient {
	background-image: linear-gradient(to bottom, $secondary 0%,rgb(14, 191, 185) 100%);
	border: none;
	&:hover {
		background-image: linear-gradient(to bottom, lighten($secondary, 10%) 0%,rgb(14, 191, 185) 100%);
	}
}

.icon {
	fill: $light;
	transform: scale(2); // Not exactly a nice way to scale the svg.
	transition: 0.2s fill ease-in-out;
	margin-right: 8px;
	&:hover {
		fill: $link-color;
	}
}

header {
	box-shadow: 0px 6px 10px rgba(0,0,0,0.8);
	.hulalogo {
		svg{
			fill: $secondary;
			padding-bottom: 8px;
			padding-right: 30px;
			#hoop {
				transition: 0.7s ease-in-out;
				transform-origin: 400px 431px;
				transform: rotate(0);
			}
		}
		&:hover {
			#hoop {
				transform: rotate(720deg);
			}
		}
	}
}

.matches {
	.match {
		list-style-type: none;
		position: relative;
		width: 170px;
		height: 130px;
		margin-right: 10px;
		display: inline-block;
		animation: fadein 0.3s;
		&:hover {
			.match__pro,
			.match__project {
				transform: rotate(0deg);
			}
		}
		&__bg {
			border: 6px solid $secondary;
			width: 110px;
			height: 110px;
			display: block;
			position: absolute;
			border-radius: 50%;
			left: 30px;
		}
		&__pro,
		&__project {
			position: absolute;
			width: 100px;
			text-align: center;
			top: 24px;
			color: $white;
			transition: 0.2s transform ease-in-out;
			h4 {
				font-size: 0.8rem;
			}
		}
		&__pro {
			left: 0;
			transform: rotate(-5deg);
		}
		&__project {
			right: 0;
			transform: rotate(5deg);
		}
		img {
			border-radius: 50%;
			width: 90px;
			height: 90px;
			filter: url('../assets/filter.svg#cherry-icecream');
		}
	}
}

.nav-tabs.nav-dark{
	border-bottom: 1px solid #800da6;
	.nav-link {
		margin-bottom: 0px;
		background-color: #330b41;
		border: none;
		&.active {
			background-color: #800da6;
			color: lighten($link-color, 10%);
		}
		&:hover {
			background-color: #800da6;
		}
	}
}

.form-control {
	background-color: #bea7c4;
	border: 1px solid #000;
}

.font-heading {
	font-family: $font-heading;
	margin-right: 1rem;
	&--large {
		font-size: 2.5rem;
		color: #fff;
	}
}

.content-box {
	box-shadow: 0px 6px 10px rgba(0,0,0,0.9);
	transition: all 0.4s ease-in-out;
}

.table-striped { // Not very pretty but changing the BS variable had no effect
	> tbody > tr:nth-of-type(#{$table-striped-order}) {
		--#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
		color: $light;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}