// Variables
@import 'variables';
@import 'bootstrap-icons';
// Configuration
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';

// Layout & components
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
// @import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
// @import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
// @import '../node_modules/bootstrap/scss/breadcrumb';
// @import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
// @import '../node_modules/bootstrap/scss/alert';
// @import '../node_modules/bootstrap/scss/progress';
// @import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
// @import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
// @import '../node_modules/bootstrap/scss/popover';
// @import '../node_modules/bootstrap/scss/carousel';
// @import '../node_modules/bootstrap/scss/spinners';

// Helpers
@import '../node_modules/bootstrap/scss/helpers';

// Utilities
@import '../node_modules/bootstrap/scss/utilities/api';

// Custom styles

.fadeHeight-enter-active,
.fadeHeight-leave-active {
	transition: all 0.5s;
	max-height: 230px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
	opacity: 0;
	max-height: 0px;
}

body {
	background-image: url('../assets/bg4.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#mainwrap {
	height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

a {
	text-decoration: none;
}

.db {
	display: block;
}

._vue-flash-msg-body {
	z-index: 100000 !important;
}

.modal.show {
	background-color: rgba(15,0,15,0.1);
}

.modal-header {
	border-bottom: 1px solid $separator-color;
}

.accordion-body {
	padding: 0;
}

.autocomplete {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.active {
		background-color: $primary;
	}
}

.text-white {
	color: #fff;
}

.error {
	background-color: $danger;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	padding: 2px;
    font-weight: 900;
	font-size: 0.9rem;
	border-radius: 3px 3px 0px 0px;
	margin-left: 4px;
	margin-right: 4px;
    color: #fff;
	display: block;
	& + * {
		background-color: lighten($danger, 20%) !important;	
	}
}

.btn-gradient {
	background-image: linear-gradient(to bottom, $secondary 0%,rgb(14, 191, 185) 100%);
	border: none;
	&:hover {
		background-image: linear-gradient(to bottom, lighten($secondary, 20%) 0%,rgb(14, 191, 185) 100%);
	}
}

.icon {
	fill: $light;
	transform: scale(2); // Not exactly a nice way to scale the svg.
	transition: 0.2s fill ease-in-out;
	margin-right: 8px;
	&:hover {
		fill: $link-color;
	}
}

nav {
	box-shadow: 0px 6px 10px rgba(0,0,0,0.8);
	.hulalogo {
		svg{
			fill: $secondary;
			padding-bottom: 8px;
			padding-right: 30px;
			#hoop {
				transition: 0.7s ease-in-out;
				transform-origin: 400px 431px;
				transform: rotate(0);
			}
		}
		&:hover {
			#hoop {
				transform: rotate(720deg);
			}
		}
	}
}

.title-actions {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	&:not(:last-child) {
		border-bottom: 1px solid lighten($dark, 11%);
	}
	@include media-breakpoint-up(lg) {
		width: 50%;
	}
	&__actions {
		opacity: 0.1;
	}
	&__maintitle {
		&--dimmed {
			color: darken($light, 40%);
			font-weight: 100;
			font-size: 0.8rem;
		}
	}
}

.flip-list-move {
	transition: transform 0.2s;
}

.hoverable-td {
	&:hover {
		.title-actions__actions {
			opacity: 1;
		}
	}
	ul {
		margin-bottom: 0;
	}
}

.matches {
	.match {
		list-style-type: none;
		position: relative;
		width: 170px;
		height: 130px;
		margin-right: 10px;
		display: inline-block;
		animation: fadein 0.3s;
		cursor: pointer;
		&:hover {
			.match__pro,
			.match__project {
				transform: rotate(0deg);
			}
		}
		&__bg {
			border: 6px solid $secondary;
			width: 110px;
			height: 110px;
			display: block;
			position: absolute;
			border-radius: 50%;
			left: 30px;
		}
		&__pro,
		&__project {
			position: absolute;
			width: 100px;
			text-align: center;
			top: 24px;
			color: $white;
			transition: 0.2s transform ease-in-out;
			h4 {
				font-size: 0.8rem;
			}
		}
		&__pro {
			left: 0;
			transform: rotate(-5deg);
		}
		&__project {
			right: 0;
			transform: rotate(5deg);
		}
		img {
			border-radius: 50%;
			width: 90px;
			height: 90px;
			filter: url('../assets/filter.svg#cherry-icecream');
		}
	}
}

.nav-tabs.nav-dark{
	border-bottom: 1px solid $separator-color;
	.nav-link {
		margin-bottom: 0px;
		background-color: #330b41;
		border: none;
		&.active {
			background-color: $separator-color;
			color: lighten($link-color, 10%);
		}
		&:hover {
			background-color: $separator-color;
		}
	}
}

.form-control {
	background-color: #bea7c4;
	border: 1px solid #000;
}

.font-heading {
	font-family: $font-heading;
	margin-right: 1rem;
	&--large {
		font-size: 2.5rem;
		color: #fff;
	}
}

.content-box {
	box-shadow: 0px 6px 10px rgba(0,0,0,0.9);
	transition: all 0.4s ease-in-out;
}

.table-striped { // Not very pretty but changing the BS variable had no effect
	> tbody > tr:nth-of-type(#{$table-striped-order}) {
		--#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
		color: $light;
	}
}
tr.prime-match {
	--#{$variable-prefix}table-accent-bg: #97ffcb !important;
	--#{$variable-prefix}table-bg: #97ffcb !important;
	color: $primary !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
}


// PAGE SPECIFIC STYLES


.page-login {
	.modal.show {
		background-color: rgba(25,0,25,1);
	}
}