// HACK: Make Safari's unfilled date field's sub inputs more readable
.form-control::-webkit-datetime-edit-day-field,
.form-control::-webkit-datetime-edit-month-field,
.form-control::-webkit-datetime-edit-year-field {
	mix-blend-mode: multiply;
}

body {
	background-image: url('assets/bg4.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.nav-tabs {
	.nav-link:not(.active):hover {
		background-color: rgba($nav-tabs-link-active-bg, 0.5);
	}
}